@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
.filters {
    background-color: #d9e2e6;
    margin-top: 3rem;
    position: relative;
    right: 5.9rem;
    padding: 1.5rem;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.item {
    padding: 9px 6px;
    font-weight: 600;
    color:rgba(23, 45, 59, 0.8);
}
.item:hover {
    color: #29B7FF;
}
.itemText {
    margin: 0 0.5rem;
}

.line {
    border: none;
    border-bottom: 1px solid rgba(23, 45, 59, 0.3);
}